// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.keyboard-button {
  align-items: flex-end;
  backface-visibility: hidden;
  background-color: $kbc-key-bg-color;
  border: 1px solid #e0e0e0;
  border-radius: $kbc-key-border-radius;
  box-shadow: $kbc-key-box-shadow;
  color: $kbc-key-font-color;
  cursor: $kbc-key-cursor;
  display: inline-flex;
  font-family: $kbc-key-font-family;
  font-size: $kbc-key-font-size;
  font-weight: $kbc-key-font-weight;
  height: $kbc-key-height;
  justify-content: flex-end;
  margin: $kbc-key-margin;
  padding: $kbc-key-padding;
  position: relative;
  text-align: $kbc-key-text-align;
  transform: translate3d(0, 0, #{$kbc-key-depth}px);
  transform-style: preserve-3d;
  transition: all 0.25s cubic-bezier(0.2, 1, 0.2, 1);
  //   vertical-align: bottom;
  width: $kbc-key-width;

  &:hover,
  &:focus {
    background-color: $kbc-key-focus-bg-color;
    box-shadow: $kbc-key-focus-box-shadow;
    outline: none;
    transform: translate3d(0, 1px, #{$kbc-key-depth}px);

    &::after {
      transform: translate3d(0, -1px, -#{$kbc-key-depth}px);
    }
  }

  &:active {
    background-color: $kbc-key-active-bg-color;
    box-shadow: $kbc-key-active-box-shadow;
    transform: translate3d(0, #{$kbc-key-depth}px, 0);

    &::after {
      transform: translate3d(0, -#{$kbc-key-depth}px, 0);
    }
  }

  icon {
    backface-visibility: hidden;
    position: absolute;
    right: $kbc-key-icon-right;
    top: $kbc-key-icon-top;
    transform-style: preserve-3d;
  }

  &::after {
    border: $kbc-key-after-border-width $kbc-key-after-border-style
      $kbc-key-after-border-color;
    border-radius: $kbc-key-after-border-radius;
    content: '';
    display: block;
    height: $kbc-key-after-height;
    left: $kbc-key-after-left;
    position: absolute;
    top: $kbc-key-after-top;
    transform: translate3d(0, 0, -#{$kbc-key-depth}px);
    transform-style: preserve-3d;
    transition: all 0.25s cubic-bezier(0.2, 1, 0.2, 1);
    width: $kbc-key-after-width;
  }
}
